{% extends "Layout.html" %}
{% block content %}
    <div id="main-content" class="row">
        {% if isLoggedIn %}
            <div class="alert alert-success" role="alert">
              You have successfuly logged in.
            </div>
        {% endif %}
        <h1>
            Welcome to PHP Authentication
        </h1>
        <h3>
            Introduction
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            iaculis, ligula sed tincidunt egestas, felis neque iaculis dolor,
            nec vestibulum quam ipsum ac justo.
        </p>
        <p>
            Nullam tincidunt mi risus, sed sollicitudin augue ultrices eget.
            Maecenas luctus justo purus, eu laoreet neque auctor et. Fusce
            lobortis non orci in vehicula. Nullam facilisis mauris tempor
            mattis lacinia. Aenean facilisis vitae sem vitae sagittis.
            Quisque tincidunt semper ex, quis tincidunt urna sodales a.
        </p>
        <h3>
            Installation
        </h3>
        <p>
            Nullam tincidunt mi risus, sed sollicitudin augue ultrices eget.
            Maecenas luctus justo purus, eu laoreet neque auctor et.
        </p>
        <pre><code>wget https://raw.githubusercontent.com/panique/huge/master/_one-click-installation/bootstrap.sh</code></pre>
        <p>
            Make it executable
        </p>
        <pre><code>chmod +x bootstrap.sh</code></pre>
        <p>
            Run it! Give it some minutes to perform all the tasks. And yes,
            you can thank me later.
        </p>
        <pre><code>sudo ./bootstrap.sh</code></pre>
    </div>
{% endblock %}
